/* Universal Styles */


/* Navigation */
.navigationcontainer {
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
  width: 100%;
  position: fixed;
  display: inline-flex;
}

.nav .img {
  height: 200px;
  width: auto;
}

.nav {
  display: flex;
  list-style: none;
  align-items:flex-end;
}

/* Header Banner */

/* Practice & Information Section */


/*Learning Section */


/* Thesis Section */


/* Footer */
