/* Stylesheet for Colmar Academy */

/* Universal Styles */
body {
  font-family:'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
}

a {
  color: inherit;
}

/* Desktop Navigation */

header {
  height: 4rem;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 2;
}

.navigationcontainer {
  display: flex;
  align-items: center;
  height: 4rem;
}

.logoimg {
  align-items: center;
  margin-left: 1.5rem;
}

.logoname {
  margin-left: 1.5rem;
  margin-right: auto;
  font-size: 1.5rem;
}

nav {
  position: absolute;
  right: 1.5rem;
}

nav li {
  display: inline;
  align-items: center;
  margin: 1rem;
}

nav a {
    text-decoration: none;
  }

.navname {
  font-size: 28px;
}

.navlogo .img {
  height: 4rem;
  width: auto;
}

header .mobile {
  display: none;
}

/* Mobile Navigation */

@media only screen and (max-width: 480px) {

header .mobile {
      display: block;
      width: 100%;
    }

header .mobile ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
}

  header .desktop {
    display: none;
}

  .logoname {
    display: none;
  }

/* Header Banner */

.bannercontainer {

}

.bannercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2.5rem;
}

.bannercontainer .img{
  width: 60%;
  height: 100%;
  padding: 2rem 1.5rem;
}

.button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(34, 9%, 31%);
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}




/* Practice & Information Section */


/*Learning Section */


/* Thesis Section */


/* Footer */
